h1 {
  color: darkblue;
  font-size: 36px;
  font-family: Arial, sans-serif;
  text-align: center;
}
p {
  color: #333;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}
